<!DOCTYPE html>
<html>
<head>
    <title>History</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" />
</head>
<body>
       <h1>Histoire du jeu Ataxx</h1>
       <p>Le nom <i>Ataxx</i> origine vient de la strat&eacute;gie &agrave; mettre an place pour gagner qui est d'attaquer encore et toujours.
       Il est parfois &eacute;crit "Attax" ou "Attaxx" ou "Attacks"! </p>

       <h2>Apparition du jeu</h2>
       <p>
       Ataxx est un jeu de plateau qui est apparu pour la premi&egrave;re fois en 1990. C'est un jeu de plateau qui a &eacute;t&eacute; d&eacute;velopp&eacute; en tant que borne d'arcade par The Leland Corporation.
       Il &eacute;tait &eacute;galement disponible en 1990 comme le jeu vid&eacute;o Spot et plus tard en tant que Microscope Puzzle dans le CD-ROM de jeu The 7th Guest sorti en 1993.
       </p>
       <p>
       Le jeu a &eacute;t&eacute; invent&eacute; par Dave Crummack et Craig Galley en 1988. Il a &eacute;t&eacute; tout d'abord appel&eacute; Infection.
       Il a &eacute;t&eacute; tout d'abord programm&eacute; sur Amiga, Commodore 64 et Atari ST. Le jeu fait maintenant partie du domaine publique.
       </p>
       <p>
       Enfin, même si Ataxx a &eacute;t&eacute; vendu en tant que jeu vid&eacute;o, une version plateau n'a jamais vu le jour. Il est cependant possible d'y jouer avec un jeu d'othello.
       </p>
       <h2>But du jeu</h2>
       <p>
          Le but du jeu Ataxx est de d'avoir le plus de pions possibles sur la plateau &agrave; la fin de la partie. Les r&egrave;gles sont expliqu&eacute;es dans la section suivante.
       </p>
</body>
</html>